* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(billeder/baggrund/baggrund5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}


/******** header og navbar ********/

header {
    background-color: #EEE1CA;
    border-bottom-width: 2px; 
    border-bottom-color: #ba4a1a;
    border-bottom-style: solid;
    font-size: 18px;
    padding: 10px;
    position: relative;
    height: 75px;

}

#logo {
    width: 200px;
    height: 48px;
    padding-right: 75px;
    padding-left: 75px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10px; 
}

nav a {
    text-decoration: none;
    color: #ba4a1a;
    margin-right: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

nav  a:hover{
    color: #e9bb60;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


/******** main og kort ********/

.kortholder {
    height: 775px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.femkort {
    height: 775px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.placeholder1 {
    height: 600px;
    width: 350px;
    background-color: rgb(0, 128, 68);
}

.placeholder2 {
    height: 650px;
    width: 350px;
    background-color: purple;
}

.placeholder3 {
    height: 700px;
    width: 400px;
    background-color: rgb(220, 220, 22);
}

#bog1 {
    height: 600px;
    width: 350px;
}

#bog2 {

}

#bog3 {

}

#bog4 {
    
}

#bog5 {
    height: 600px;
    width: 350px;
}

#citat h2 {
    color: #ba4a1a;
    display: flex;
    flex-direction: column;
    align-items: center;  
}



/******** Anmeldelser ********/



/******** Kategorier ********/



/******** Om mig ********/



/******** Kontakt ********/