* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(billeder/baggrund/baggrund5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


/******** header og navbar ********/

header {
    background-color: #EEE1CA;

    border-bottom-width: 2px;
    border-bottom-color: #ba4a1a;
    border-bottom-style: solid;

    font-size: 17px;

    padding-bottom: 10px;
    padding-right: 60px;

    position: fixed;
    top: 0;
    left: 0;

    height: 100px;
    width: 100%;
    z-index: 100;
}

#logo {
    width: 300px;
    height: 100px;
    padding-bottom: 5px;
    display: flex;

}

.højremenu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-bottom: 15px;
    padding-left: 20px;
}

.venstremenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-bottom: 15px;
    padding-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: #ba4a1a;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a:hover {
    color: #e9bb60;
}




/******** Dropdown menu ********/


.dropdown {
    position: relative;
    display: inline-block;
}

.btn {
    display: inline-block;
    background-color: #EEE1CA;
    color: #ba4a1a;
    padding: 0px 0px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ba4a1a;
    background-color: #EEE1CA;
    font-size: 13px;
    min-width: 80px;
    padding-left: 15px;
    padding-right: 15px;

    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    text-align: center;
    padding: 0;
    margin: 5px 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 0.9;
    z-index: 100;
}


/******** billedvifte ********/
.femkort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    margin-right: 0px;
}

.femkort a img {
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#king {
    z-index: 3;
    left: 350px;
}

#king:hover {
    z-index: 10;
}

#outlander {
    z-index: 4;
    left: 160px;
}

#outlander:hover {
    z-index: 10;
}

#soestre {
    z-index: 5;
}

#select {
    z-index: 4;
    right: 160px;
}

#select:hover {
    z-index: 10;
}

#potter {
    z-index: 3;
    right: 350px;
}

#potter:hover {
    z-index: 10;
}

.femkort a img:hover {
    transform: scale(1.08);
    filter: brightness(1.2);
    z-index: 6;
}


#citat {
    z-index: +1;
    color: #cf9b84;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    padding-top: 20px;
}

/***** anmeldelser *****/

h1 {
    color: #ba4a1a;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: larger;
}

.overskrift {
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.indhold {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 75px;
}

.bookcover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
   
}

.bookcover img {
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.info {
    display: flex;
    align-items: center;
    color: #ba4a1a;
    padding: 25px;
    padding-right: 50px;
    
}

.info p {
    padding-right: 25px;
}

.anmeldelsesboks {
    color: #ba4a1a;
    background-color: #EEE1CA;
    background-color: rgba(255, 255, 255, 0.5);
    height: 750px;
    width: 1100px;

    border-radius: 10px;
    border: 2px solid #e9bb60;

    padding: 27.5px;
}



/******** Kategorier ********/



/******** Om mig ********/



/******** Kontakt ********/