* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(billeder/baggrund/baggrund5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}


/******** header og navbar ********/

header {
    background-color: #EEE1CA;
    border-bottom-width: 2px; 
    border-bottom-color: #ba4a1a;
    border-bottom-style: solid;
    font-size: 17px;
    position: relative;
    height: 100px;
    padding-bottom: 10px;

}

#logo {
    width: 300px;
    height: 100px;
    padding-bottom: 5px;   
}

nav {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10px; 
}

nav a {
    text-decoration: none;
    color: #ba4a1a;
    margin-right: 20px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

nav  a:hover{
    color: #e9bb60;
}

.venstremenu {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    padding-bottom: 15px;
}

.højremenu {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-bottom: 15px;
}

/******** Dropdown menu ********/
.dropbtn {
    background-color: #EEE1CA;
    color: #ba4a1a;
    padding: px;
    font-size: 17px;
    border:#ba4a1a
  }
  
  /******** div til at holde på indhold ********/
  .dropdown {
    z-index: 100;
    position: relative;
    display: inline-block;
  }
  
  /******** Dropdown indhold ********/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEE1CA;
    min-width: 130px;
    font-size: 14px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /******** Link-indhold ********/
  .dropdown-content a {
    color: #ba4a1a;
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  
  .dropdown-content a:hover {
    color: #e9bb60;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 


/******** main og kort ********/

/**.kortholder {
    height: 775px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}**/

.femkort {
    height: 775px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.placeholder1 {
    height: 600px;
    width: 350px;
    background-color: rgb(0, 128, 68);
}

.placeholder2 {
    height: 650px;
    width: 350px;
    background-color: purple;
}

.placeholder3 {
    height: 700px;
    width: 450px;
    background-color: rgb(220, 220, 22);
}

.image1 {
    height: 600px;
    width: 400px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.image1:hover {
    z-index: 11;
    transform: scale(1.15); /* increase scale to make image bigger */
    filter: brightness(1.15); /* increase brightness to make image brighter */
}

.image2 {
    height: 600px;
    width: 400px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.image2:hover {
    z-index: 11;
    transform: scale(1.15); /* increase scale to make image bigger */
    filter: brightness(1.15); /* increase brightness to make image brighter */
}

.image3 {
    height: 600px;
    width: 400px;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.image3:hover {
    z-index: 11;
    transform: scale(1.1); /* increase scale to make image bigger */
    filter: brightness(1.1); /* increase brightness to make image brighter */
}

#boget {
    z-index: 1;
    /**position: absolute;**/
    height: 700px;
    width: 462px;
}

#bogto {
    z-index: 5;
    /**position: absolute;**/
    height: 700px;
    width: 462px;
}

#bogtre {
    z-index: 10;
    /**position: absolute;**/
    height: 700px;
    width: 462px;
}

#bogfire {
    z-index: 5;
    /**position: absolute;**/
    height: 700px;
    width: 462px;
}

#bogfem {
    z-index: 2;
    /**position: absolute;**/
    height: 700px;
    width: 462px;
}

#citat h2 {
    z-index: 1;
    color: #ba4a1a;
    display: flex;
    flex-direction: column;
    align-items: center;  
    font-size: 17px;
}

/******** billedvifte ********/




/******** Anmeldelser ********/



/******** Kategorier ********/



/******** Om mig ********/



/******** Kontakt ********/